@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;700&family=Noto+Sans:wght@400;700&family=Noto+Serif:wght@400;700&display=swap');

:root {
    --light-bg: #fff;
    --dark-bg: #323232;
    --light-purple: #E9D0FA;
    --purple: #A646F1;
    --black: #323232;
    --gray: #D4D4D4;
    --dark-gray: #b4b4b4;

    --ff-sans: 'Noto Sans', sans-serif;
    --ff-mono: 'Noto Sans Mono', monospace;
    --ff-serif: 'Noto Serif', serif;

}


body[data-theme = 'light'] {
    background-color: yellow;
}

body[data-theme = 'dark'] {
    background-color: #000;
}

body[font = 'sans'] {
    font-family: var(--ff-sans);
}
body[font = 'serif'] {
    font-family: var(--ff-serif);
}