:root {
    --light-bg: #fff;
    --dark-bg: #323232;
    --light-purple: #E9D0FA;
    --purple: #A646F1;
    --black: #323232;
    --gray: #D4D4D4;
    --dark-gray: #b4b4b4;
}


body[data-theme = 'light'] {
    background-color: yellow;
}

body[data-theme = 'dark'] {
    background-color: #000;
}