@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;700&family=Noto+Sans:wght@400;700&family=Noto+Serif:wght@400;700&display=swap');

:root {
    --light-bg: #fff;
    --dark-bg: #232323;
    --light-purple: #E9D0FA;
    --purple: #A646F1;
    --black: #323232;
    --gray: #b4b4b4;
    --light-gray: #e1e1e1;
    --dark-gray: #939393;


    --ff-sans: 'Noto Sans', sans-serif;
    --ff-mono: 'Noto Sans Mono', monospace;
    --ff-serif: 'Noto Serif', serif;

}

body[data-theme = 'light'] {
    --bg: var(--light-bg);
    background-color: var(--bg);
    color: var(--black);
}
body[data-theme = 'dark'] {
    --bg: var(--dark-bg);

    background-color: var(--bg);
    color: var(--gray);
}
body[font = 'sans'] {
    font-family: var(--ff-sans);
}
body[font = 'serif'] {
    font-family: var(--ff-serif);
}
body[font = 'mono'] {
    font-family: var(--ff-mono);
}

body {
    margin: 0;
    padding: 0;
}